.container {
  width: 240px;
  margin: 1rem auto;
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  background-color: #CDCDCD;
}

.display {
  text-align: right;
  border: 1px solid black;
  border-radius: 2px;
  height: 2.5rem;;
  margin: 5px;
  font-size: 2.0em;
  background-color: #E6E6E6;
}

button {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 1.5em;
  background-color: #B1A296;
  border-radius: 5px;
}

.opp-button  {
  background-color: #5D5C61;
  color: white;
}

.modifier-button {
  background-color: #7395AE;

}
